:root {
    --small-layer-size: 6rem;
}

.header-container {
    height: 40rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
    text-align: center;
    padding-top: 2rem;
    flex-direction: column;
}

.header-bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
}

#header-asset {
    width: 35rem;
}

#layer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* First layer */
.header-first-layer {
    height: 7rem;
    gap: 15rem;
}
@media (max-width: 40em) {
    .header-first-layer {
        gap: 2rem;
    }
}
.header-first-layer img{
    width: var(--small-layer-size);
}

/* Second layer */
.header-second-layer {
    gap: 7rem;
}
.header-second-layer img {
    width: var(--small-layer-size);
}
.text-title {
    color: rgb(var(--secondary-color));
    font-size: 5em;
}
.text-body {
    font-size: 5em;
    color: var(--text-color);
    font-family: secondary-font;
}
#circle {
    width: calc(var(--small-layer-size) + 5rem);
}
#pointing-triangle {
    width: 3rem;
    padding-bottom: 5rem;
}
@media (max-width: 1000px) {
    .header-second-layer {
        gap: 5rem;
    }
}
@media (max-width: 40em) {
    .header-second-layer {
        gap: 1rem;
    }
    .text-title {
        font-size: 3em;
    }
    .text-body {
        font-size: 2.5em;
    }
    #pointing-triangle {
        display: none;
    }
}

/* Third layer */
.header-third-layer {
    gap: 9rem;
}
#underline {
    width: 30rem;
    height: 2.5rem;
}
#cube {
    width: calc(var(--small-layer-size) + 1rem);
}

@media (max-width: 40em) {
    #underline {
        width: 20rem;
        height: auto;
    }
    #cube {
        display: none;
    }
}

/* Fourth layer */
.header-fourth-layer {
    justify-content: space-around !important;
    align-items: flex-start !important;
    width: 100%;
    gap: 5rem;
}
.text-subtitle {
    letter-spacing: 0.4em;
}
.text-sub-body {
    margin-top: 0.7rem;
    font-family: third-font;
    max-width: 30rem;
    letter-spacing: 0.2rem;
}
.cta-button-container {
    display: flex;
    justify-content: center;
}
.cta-button {
    cursor: pointer;
    margin-top: 3rem;
    letter-spacing: 0.2em;
    color: rgb(var(--third-color));
    background-color: rgb(var(--secondary-color));
    padding: 0.5rem;
}
.cta-button:hover {
    transform: scale(1.1);
}
#trippy-triangle {
    width: 20rem;
}
@media (max-width: 1100px) {
    #trippy-triangle {
        display: none;
    }
}

/* Loose assets */
.circle-container {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 4rem;
    padding-left: 4rem;
    margin-top: 4rem;
}
.circle-container-for-pluses {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#circle-container-pluses {
    width: var(--small-layer-size);
    margin-top: 6rem;
}

/* Animations */
#circle:hover {
    cursor: pointer;
}



@media (max-width: 1400px) {
    .circle-container {
        display: none;
    }
}

/* @media (min-width: 1940px) {
    .header-container {
        background-size: cover;
        background-position: 0 -26rem;
    }
} */