:root {
    --small-layer-size: 6rem;
}

.header-container {
    height: 40rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
    text-align: center;
    padding-top: 2rem;
    flex-direction: column;
}

.header-bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
}

#header-asset {
    width: 35rem;
}

#layer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* First layer */
.header-first-layer {
    position: relative;
    height: 7rem;
    gap: 15rem;
    z-index: 2;
}
@media (max-width: 40em) {
    .header-first-layer {
        gap: 2rem;
    }
}
.header-first-layer img{
    width: var(--small-layer-size);
}

/* Second layer */
.header-second-layer {
    gap: 7rem;
}
.header-second-layer img {
    width: var(--small-layer-size);
}
.text-title {
    position: relative;
    color: rgb(var(--secondary-color));
    font-size: 5em;
    z-index: 2;
}
.text-body {
    font-size: 5em;
    color: var(--text-color);
    font-family: secondary-font;
}
.text-title:hover {
    cursor: pointer;
    transform: scale(1.05);
}
#circle {
    width: calc(var(--small-layer-size) + 5rem);
}
#pointing-triangle {
    width: 3rem;
    padding-bottom: 5rem;
}
@media (max-width: 1000px) {
    .header-second-layer {
        gap: 5rem;
    }
}
@media (max-width: 40em) {
    .header-second-layer {
        gap: 1rem;
    }
    .text-title {
        font-size: 3em;
    }
    .text-body {
        font-size: 2.5em;
    }
    #pointing-triangle {
        display: none;
    }
}

/* Third layer */
.header-third-layer {
    gap: 14rem;
    align-items: flex-start !important;
}
#underline {
    width: 34rem;
}

@media (max-width: 40em) {
    #underline {
        width: 20rem;
        height: auto;
    }
}

/* Fourth layer */
.header-fourth-layer {
    justify-content: space-around !important;
    align-items: flex-start !important;
    width: 100%;
    gap: 5rem;
}
.text-subtitle {
    letter-spacing: 0.4em;
}
.text-sub-body {
    margin-top: 0.7rem;
    font-family: third-font;
    max-width: 30rem;
    letter-spacing: 0.2rem;
}
.cta-button-container {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 4rem;
    letter-spacing: 0.2em;
}
.cta-button {
    color: rgb(var(--third-color));
    background-color: rgb(var(--secondary-color));
    padding: 0.5rem;
}
.cta-button:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.cta-second-button:hover{
    cursor: pointer;
    text-decoration: underline;
}
.balls-container img{
    width: var(--small-layer-size);
}
.balls-container {
    display: flex;
    justify-content: space-between;
    margin-top: -1.5rem;
    margin-left: -8rem;
    margin-right: -8rem;
}
.last-remaining-text {
    letter-spacing: 0.2em;
}
@media (max-width: 40em) {
    .balls-container {
        display: none;
    }
    .text-sub-body {
        max-width: 26rem;
    }
    .text-subtitle {
        font-size: 1.2em;
    }
    .cta-button-container {
        margin-top: 1rem;
    }
    .cta-second-button {
        display: none;
    }
    .last-remaining-text {
        display: none;
    }
}

/* Loose assets */
.loose-assets-container {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#loose-assets-items {
    display: flex;
    justify-content: space-between;
}

.loose-assets-circles img{
    width: 11rem;
}
.loose-assets-pluses img {
    width: var(--small-layer-size);
}
.loose-assets-cubes img {
    width: calc(var(--small-layer-size) + 1rem);
}
#cube-right {
    width: 8rem;
}

.loose-assets-circles {
    padding-top: 4rem;
    padding-left: 5rem;
    padding-right: 5rem;
}
.loose-assets-pluses {
    padding-top: 6rem;
    padding-right: 5rem;
    padding-left: 7rem;
}
.loose-assets-cubes {
    justify-content: center !important;
    gap: 59rem;
}

.loose-assets-trippy-triangles img{
    width: 23rem;
}
.loose-assets-trippy-triangles {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-bottom: 4rem;
    padding-right: 5rem;
    padding-left: 5rem;
}
@media (max-width: 1500px) {
    .loose-assets-container {
        display: none;
    }
    .loose-assets-trippy-triangles {
        display: none;
    }
}

/* Animations */
#circle:hover {
    cursor: pointer;
}



@media (max-width: 1400px) {
    .circle-container {
        display: none;
    }
}