.navbar-container {
    height: 4rem;
    width: 100%;
    background-color: rgb(var(--primary-color));
    display: flex;
    justify-content: space-between;
}

.navbar-button {
    height: 80%;
    width: 2rem;
    background-color: var(--text-color);
}