@font-face {
  font-family: 'primary-font';
  src: url(./assets/dela-gothic-regular.ttf);
}
@font-face {
  font-family: 'secondary-font';
  src: url(./assets/Montserrat-Light.otf);
}
@font-face {
  font-family: 'third-font';
  src: url(./assets/LexendMega-Regular.ttf);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: primary-font;
  color: rgb(var(--text-color));
}

:root {
  --text-color: 255, 255, 255;
  --primary-color: 255, 237, 134;
  --secondary-color: 248, 242, 169;
  --third-color: 255, 81, 192;
}

@media (min-width: 2000px) {
  html {
    font-size: 1.5em;
  }
}
