@font-face {
  font-family: 'main';
  src: url(./assets/dela-gothic-regular.ttf);
}
@font-face {
  font-family: 'main-bold';
  src: url(./assets/uni-sans-bold.otf);
}
@font-face {
  font-family: 'main-heavy';
  src: url(./assets/uni-sans-heavy.otf);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: main;
  color: rgb(var(--text-color));
}

h1 {
  font-family: main-heavy;
  font-size: 3em;
}

:root {
  --text-color: 255, 255, 255;
  --primary-color: 255, 237, 134;
  --secondary-color: 86, 99, 247;
  --third-color: 88, 101, 242;
}

@media (min-width: 2000px) {
  html {
    font-size: 1.5em;
  }
}
