@font-face {
  font-family: 'main';
  src: url(./assets/uni-sans.otf);
}
@font-face {
  font-family: 'main-bold';
  src: url(./assets/uni-sans-bold.otf);
}
@font-face {
  font-family: 'main-heavy';
  src: url(./assets/uni-sans-heavy.otf);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: main;
  color: rgb(var(--text-color));
}

h1 {
  font-family: main-heavy;
}

:root {
  --text-color: 255, 255, 255;
  --primary-color: 35, 39, 42;
  --secondary-color: 86, 99, 247;
  --third-color: 88, 101, 242;
}
